html {
  font-family: Roboto, sans-serif;
}

h1 {
  color: #2f80ed;
  margin-bottom: 0.5em;
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 1em;
}

h3 {
  color: #2f80ed;
}

li {
  margin-bottom: 0.8em;
}

a {
  color: #2f80ed;
}

section {
  margin-bottom: 3em;
  position: relative;
}

.general {
  max-width: 900px;
  margin: 0 auto;
}

.contacts {
  margin-bottom: 2em;
}

.contact {
  margin-bottom: 0.5em;
  display: flex;
}

.contact-type {
  min-width: 90px;
}

@media (max-width: 575px) {
  .experience {
    display: block;
  }
}